.container {
  margin: 0 auto;
  width: 60%;
}


.parallax {
  height: 100vh;
  width: 100vw;
  padding-top: 60px;
}

.home {
  background-image: linear-gradient(120deg, #cfd9df 0%, #fff 100%);
}

.about {
  background-image: linear-gradient(120deg, #cfd9df 0%, #fff 100%);
}

.portfolio {
  background-image: linear-gradient(120deg, #cfd9df 0%, #eee 100%);
}

.contact {
  background-image: linear-gradient(to top, #cfd9df 0%, #eee 100%);
}
