
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $mainFont;
}

h1 {
  text-shadow: -2px 2px 2px #000;
  font-size: 3em;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 50px;
}

h2 {
  color: rgba(255, 255, 255, 0.6);
  text-shadow: -2px 2px 2px #000;
}

h5 {
  margin-top: 0%;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: -2px 2px 2px #000;
  margin-top: -4%;
}


  
/* Section Portfolio */

.portfo-bground {
  color: black;
  background: url('/assets/img/web-print.jpg') no-repeat center fixed;
  background-size: cover;
}

/* Section Titre*/
.portfo-intro-overlay1 {
  padding: 5% 0 2% 26%;
  width: 70%;
}

.portfo-intro-overlay2 {
  background: rgba(0, 0, 0, 0.4);
  width: 58%;
  padding: 5px 20px 5px 20px;
}

.portfotitle {
  font-size: 2em;
}

.portfotext {
  font-size: 1.5em;
  color: white;
}

/* Section blocs */

#small-text {
  color: white;
  font-style: italic;
  font-size: .8em;
  margin-top: -10px;
}

.img-bloc {
  width: 100%;
  height: auto;
}

.portfolio-item {
  overflow: hidden;
  padding: 7px;
  color: white;
  height: 308px;
}

.items-container {
  padding: 0% 15% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}


/* ombre portee en hover sur les projets */
.portfolio-item:hover {
  transition: 0.25s;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.7);
}

.portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

.col-md-4 {
  overflow: hidden;
  //display: inline-block;
  border: 1px outset rgba(255, 255, 255, 0.6);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 1%;
  text-align: center;
  box-shadow: -2px 3px 2px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 10px 10px 10px;
  border: 1px outset rgba(255, 255, 255, 0.6);
}
.col-md-4:hover {
  transition: 0.5s;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.9);  
 }

.portfolio-item .portfolio-link .portfolio-hover {
  // background: rgba(0, 0, 0, 0.7);
  // position: absolute;
  // width: 100%;
  // height: 100%;
  // opacity: 0;
  // transition: all ease .5s;
}

.portfolio-item .portfolio-link .portfolio-hover:hover {
  //opacity: 0.8;
}

.portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  // position: absolute;
  // width: 100%;
  // height: 20px;
  // font-size: 20px;
  // text-align: center;
  // top: 50%;
  // margin-top: -12px;
  // color: #fff;
}

.portfolio-item .portfolio-caption {
  max-width: 400px;
  //margin-top: 0px;
  //background-color: rgba(0, 0, 0, 0.8); //fond sous texte
  text-align: center;
  padding: 10px;
}

.portfolio-item .portfolio-caption {
  // color: #fff;
  // text-transform: none;
  // margin: 0;
}

// #portfolio * {
//   z-index: 2;
// }


@media(max-width:1199px) {
    
}

@media(max-width:767px) {

}

@media (min-width:767px) {
// .portfolio-item {
//     margin: 0 0 30px;
//   }
}
